* {
    font-family: Inter, sans-serif;
}

header {
    display: flex;
    gap: 1em;
    padding-right: 3em;
    background-color: gray;
}

header nav ul {
    display: flex;
    gap: 2em;
    align-items: left;

}

header a i {
    color: black;
    font-size: 3em;
    padding: 0.5em;
    justify-content: flex-start;
    align-items: right;
}

.ini {
    color: black;
}

.con {
    color: white;
}

body {
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
}

footer h2 {
    width: 100%;
    padding-left: 3em;
    margin: 3em;
}

.navegacion {
    background-color: gray;
}

.fa-solid fa-cube {
    background-color: gray;
}

.btn-generar {
    justify-content: center;
    text-align: center;
    align-items: center;
}

footer p {
    justify-content: center;
}

button {
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
    background-color: gray;
    color: white;
    border-radius: 5px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.titulo_seccion {
    position: relative;
    font-size: 20px;
    color: black;
    text-align: center;
}

.container {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    /* Espacio entre cada input */
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: XX;
    /* Define el ancho máximo del input */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    /* Permite redimensionar verticalmente el textarea */
}

button:hover {
    background-color: black;
}